html {
	font-size: 17px;

}
body {
	font-family: 'Lato', sans-serif; 
	margin: 0;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 2.4rem; 
	line-height: 1.2;
	color: #fff;
	width: 80%;
	margin: 1.6rem auto 0;
	text-align: center;
	margin-top:40px;
}
nav {
	font-size: 1.1rem;
}
nav ul {
	padding: 0;
	margin: 0;
	margin-bottom: .65rem;
}
nav li {
	line-height: 1.5;
}
nav li a {
	padding: .29rem .59rem;
	color: #fff;
}
.content-wrapper {
	max-width: 960px;
	margin: auto;
	padding: 0 1.8rem;
}
main .content-wrapper {
	max-width: 42em;
}

.hero {
	text-align: center;
	padding: 2.4rem 0;
	background:
		linear-gradient(
			rgba(0, 0, 0, .48), 
			rgba(0, 0, 0, .48)
		), 
		url('header\ background\ image.webp') no-repeat 10% center ;
	background-size: cover;
    color:white;
}
.hero p {
	color: #fff;
	width: 80%;
	margin: 0 auto 1.6rem;
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: 300;
}
main {
	box-sizing: border-box;
	padding: 30px 0;
	border-bottom: solid 1px #dcdcdc;
}

footer {
	padding: 1.2rem;
	background-color: rgb(121, 196, 121);
}
footer p {
	font-size: .94rem;
	font-weight: 300;
	color:black;
	text-align: center;
	margin-bottom: 0;
}

@media (min-width: 540px) { 
	header .logo {
		float: left;
	}
	nav {
		float: right;
		margin-top: 21px;
	}
	nav ul li {
		display: inline-block;
	}
	figure {
		float: left;
		width: 40%;
		min-width: 225px;
		margin-right: 1.53rem;
	}
}

/* The Input Username Text */
#response-text {
    font-size: 24px;
    font-weight: bold;
    color: green;
    margin-top: 20px;
	text-align: center;
}
/* End of Username Text Code */

/* Rock paper scissors buttons start */ 

.btn-outline-warning {
    color: hsl(212, 84%, 48%) !important;
    border-color: hsl(212, 84%, 48%) !important;
	margin-bottom: 80px;
}

.btn-outline-warning:hover {
    color: white;
    background-color: hsl(212, 84%, 48%) !important; 
    border-color: hsl(212, 84%, 48%) !important;
	margin-bottom: 80px;
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
	margin-bottom:80px;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
	margin-bottom:80px;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/* Rock paper scissors buttons end */ 
