body {
	font-family: 'Righteous', sans-serif; /* Google font */
	background-color: rgb(111, 185, 111);
	margin: 0;
	padding: 0;
  }
  
  .container {
	max-width: 960px;
	margin: 0 auto;
  }
  
  .description {
	margin-top: 50px;
  }
  
  .btn-success {
	margin-top: 20px;
  }
  
  #game-container {
	margin-top: 50px;
  }
  
  .btn {
	margin: 0 5px;
  }
  
  #results {
	font-size: 20px;
	margin-bottom: 20px;
  }
  
  #scores {
	margin-top: 20px;
  }
  
  footer {
	background-color: #343a40;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	bottom: 0;
	width: 100%; /* Set width to 100% */
	left: 0; /* Ensure it starts from the left edge */
	right: 0; /* Ensure it ends at the right edge */
  }
  
  .github-link {
	margin-top: 10px;
  }
  
  .github-link a {
	color: #fff;
  }
  
  .github-link img {
	margin-right: 5px;
  }
  
/* The Input Username Text */
#response-text {
    font-size: 24px;
    font-weight: bold;
    color: green;
    margin-top: 20px;
	text-align: center;
}
/* End of Username Text Code */

.kode-mono-code {
	font-family: "Kode Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
  }